<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, inital-scale=1"/>
        <title>Reddit App</title>
        {% load static %}

        <link 
            rel = "stylesheet"
            href = "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&displa=swap"
        />
        {% comment %} <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"/> {% endcomment %}
    </head>
    <body>
        <div id ="main">
            <div id="app">
            </div>
            </div>
        </div>
        {% comment %} <script id = "app_data">{"app_data":"{{col_sub}}"}</script> {% endcomment %}
        {% comment %} <script src="{% static "frontend/main.js" %}" id = "app_data">{"app_data":"{{col_sub}}"}</script> {% endcomment %}
        <script src="{% static "frontend/main.js" %}" id = "app_data"></script>
    </body>
</html>